.grid {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
  }

  .grid-item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
  }

  @media (min-width: 675px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
  }