* {
    font-family: 'Lexend', sans-serif;
    margin: 0em;
    padding: 0em;
    font-weight: 600;
    font-size: 20px;
}

h1{
    font-size: 30px;
    font-weight: 700;
}

h2{
    font-size: 25px;
    font-weight: 600;
}

a {
    text-decoration: none;
    outline: none;
    color: white;
}

a:hover{
    color: #EF5600;
}

menu{
    list-style-type:none;
    background-color: black;
}

.wheel{
    transition: transform 0.5s ease;
}

.wheel.rotate {
    transform: rotate(-180deg);
  }

.uvod{
    display: flex;
    align-items: center;
    gap: 2em;
    background-image: url(../img/photos/dynamicky_mic_bgrnd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 1em;
}

.uvod div{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.uvod.zakulisi{
    align-items: start;
    background-image: url(../img/photos/Společná_bgrnd.jpg);
    flex-direction: column;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #828282;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }

.button:hover{
    background-color: #EF5600;
    color: white;
}


.main_pic{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_o_dramatu{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.clanek{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.clanek_img{
    display: flex;
    justify-content: center;
}

img{
    width: 100%;
}

.clanek div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tech{
    background-color: #E3E3E3;
    padding: 2em;
}

.prod{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    padding: 2em;
    text-align: center;
    gap: 2em;
}

footer section{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

footer dt{
    font-size: 25px;
}

@media (min-width: 675px) {
    .uvod {
        flex-direction: row;
        padding: 5em;
    }

    .main_pic{
        width: 30%;
    }

    .main_o_dramatu{
        padding: 2em 7em;
    }

    .clanek{
        flex-direction: row;
    }

    .clanek_img{
        align-items: center;
        display: flex;
        width: 100%;
    }

    footer section{
        flex-direction: row;
        justify-content: space-between;
        padding: 0em 5em;
    }

    .RUR{
        text-align: left;
    }
    .DB{
        text-align: right;
    }
}