* {
    font-family: 'Lexend', sans-serif;
    margin: 0em;
    padding: 0em;
}

a {
    text-decoration: none;
}

menu{
    list-style-type:none;
    background-color: black;
}




a:visited{
    color: white;
}

.main_pic{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
}

footer{
    display: flex;
    background-color: black;
    color: white;
    padding: 2em;
    text-align: center;
}